<div class="row">
  <div data-aos="zoom-in" class="col-xs-12 offset-md-1 col-md-10 transparent-container solution-container mb-5">
    <h6 class="meeting-title text-white mt-2"><strong class="text-uppercase">Dissensium</strong> <br><strong>vous propose les résultats suivants</strong></h6>
    <div class="border-bottom mt-5"></div>
    <div class="container-overflow">
      <% issue.solutions.each do |solution| %>
        <% if solution.bobby == " Excellent" %>
          <h3 class= "vote-content"><%=  solution.content  %></h3>
          <p class= "vote-content font-italic seperate-content mb-3">Indice | <span class = "text-white font-italic text-success"><%= solution.bobby  %></span></p>
        <% end %>
      <% end %>
      <% issue.solutions.each do |solution| %>
        <% if solution.bobby == " Très bien" %>
          <h3 class= "vote-content"><%=  solution.content %></h3>
          <p class= "vote-content font-italic seperate-content mb-3">Indice | <span class = "text-white font-italic text-primary"><%= solution.bobby  %></span></p>
        <% end %>
      <% end %>
      <% issue.solutions.each do |solution| %>
        <% if solution.bobby == " Bien" %>
          <h3 class= "vote-content"><%=  solution.content %></h3>
          <p class= "vote-content font-italic seperate-content mb-3">Indice | <span class = "text-white font-italic text-white"><%= solution.bobby  %></span></p>
        <% end %>
      <% end %>
      <% issue.solutions.each do |solution| %>
        <% if solution.bobby == " Passable" %>
          <h3 class= "vote-content"><%=  solution.content %></h3>
          <p class= "vote-content font-italic seperate-content mb-3">Indice | <span class = "text-white font-italic text-warning"><%= solution.bobby  %></span></p>
        <% end %>
      <% end %>
      <% issue.solutions.each do |solution| %>
        <% if solution.bobby == " Insuffisant" %>
          <h3 class= "vote-content"><%=  solution.content %></h3>
          <p class= "vote-content font-italic seperate-content mb-3">Indice | <span class = "text-white font-italic text-danger"><%= solution.bobby  %></span></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="margin">
<% if local_assigns[:leader] %>
  <%= link_to "Reprendre le meeting",  start_issue_path(issue), method: :post, remote: true, class: "badge badge-pill badge-success ml-2 py-2 px-3 btn-step" %>
<% end %>


<% if local_assigns[:leader] %>
  <%= link_to "Cloturer le meeting",  final_result_issue_path(issue), method: :post, remote: true, class: "badge badge-pill badge-danger ml-2 py-2 px-3 btn-step" %>
<% end %>
</div>
