<%= render 'shared/navbar-logo' %>
<%= render 'shared/flashes' %>

<div class="container">
  <div id="start-page" class=""> <!-- hidden-container -->
    <% if @issue.user == current_user && @issue.solutions.count.zero? %>
      <%= render 'issues/start_page' %>
    <% end %>
  </div>

  <h1 class="text-white"><%= @issue.title %></h1>

  <% if @issue.user == current_user %>
    <%= render 'participants_list' %>
  <% end %>

  <% if !@issue.support.file.nil? %>
    <div class="row">
      <div class="col-xs-12 offset-md-2 col-md-8 white-container mt-5">
        <h3 class= "text-center">Issue support</h3>
        <%= link_to cl_image_path(@issue.support), target: "_blank" do %>
          <%= cl_image_tag @issue.support, format: :jpg, height: 300, width: 400, crop: :scale, class: "support" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row hidden-container">
    <div data-aos="zoom-in" class="col-xs-12 offset-md-2 col-md-8 white-container mt-5">
      <h3>Creative asset list</h3>
      <div id="chat-container" class="container-overflow">
        <% @issue.solutions.each do |solution| %>
          <%= render "solutions/solution", solution: solution, user_is_solutions_author: solution.user == current_user %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 offset-md-2 col-md-8 white-container mt-5 mb-5">
      <%= simple_form_for [@issue, @solution], remote: true, html: {autocomplete: "off" } do |f| %>
        <%= f.label :My_solution, class: "label-style" %>
        <%= f.input_field :content, class: "form-control" %>
        <%= f.button :submit, 'Send my solution', class: "form-control button-style" %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>

  const start_meeting_btn = document.getElementById("start-meeting-btn");
  // Tester si le bouton "start-meeting-btn" est affiché
  if (start_meeting_btn != null) {
    start_meeting_btn.addEventListener("click", (event) => {
      // LEADER : Cacher la banière de départ
      start_meeting_btn.parentElement.parentElement.classList.add("hidden-container");

      <%= ActionCable.server.broadcast("issue_#{params[:issue_id]}", {
        current_user_id: current_user.id,
        message: "c'est partiiiiiiiiiii"
      }) %>

    });
  };


    App.cable.subscriptions.create(
      {
        channel: 'IssuesChannel',
        issue_id: <%= @issue.id %>
      },
      {
        connected: () => {
          // var testSolutionContent = document.querySelector(".solution-content")
          // if (testSolutionContent != null ) {
          //   var solutions = document.querySelector(".hidden-container")
          //   solutions.classList.remove("hidden-container")
          // };
          // scrollLastMessageIntoView();
        },
        received: (data) => {

          const owner_issue_id = <%= @issue.user.id %>
          // console.log('owner_issue_id :');
          // console.log(owner_issue_id)

          const current_user_id = <%= current_user.id %>;

          const current_broadcaster_id = data.current_user_id;
          // console.log('current_broadcaster_id :');
          // console.log(current_broadcaster_id);

          const partial_solution = data.solution_partial
          // console.log('le Partial de la solution est :');
          // console.log(partial_solution == null);

          var solutions = document.getElementById("chat-container")

          if (solutions.children.length != 0 || data.solution_partial != null){
            solutions.parentElement.parentElement.classList.remove("hidden-container")
            // Pour afficher sa propre réponse d'une couleur différente
              var class_message = 'message'
              if (current_user_id == current_broadcaster_id) {
                class_message = 'message right'
              };
            if (data.solution_partial != null){
              var solutionsContainer = document.querySelector('.container-overflow');
              solutionsContainer.insertAdjacentHTML('beforeend', data.solution_partial.replace('message',class_message));
            };
          };

          var input = document.querySelector('#solution_content');
          input.value = '';
          input.blur();
          scrollLastMessageIntoView();
        }
      }
    )
  </script>
<% end %>
