<%= render 'shared/navbar-logo' %>
<%= render 'shared/flashes' %>

<div class="issue-list">
  <ul id="list">
    <li><div class="list-hover">Instructions</div></li>
  </ul>
</div>

<% if @issue.owned_by?(current_user) || !local_assigns[:leader] %>
  <div id="participants-list" class="hidden-container" >
    <ul>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="instructions-content">
    <p>ABOUT INSTRUCTIONS</p>
    <button type="button" class="btn btn-link text-white"><span class="back-button"><</span></button>
  </div>

  <% if !@issue.support.file.nil? %>
    <div class="text-center">
      <%= link_to "Support", cl_image_path(@issue.support), target: "_blank", class: "btn btn-support" %>
    </div>
  <% end %>

  <div class="opacity" id="current_step">
    <div id="start-page" class="">
      <% if @issue.owned_by?(current_user) %>
        <%= render 'issues/start_page' %>
      <% else %>
        <%= render 'issues/start_page_participant' %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>

    ///////////////////////////////////

  const list = document.querySelector(".list-hover");
  const instructions = document.querySelector(".instructions-content");
  const opacity = document.querySelector(".opacity");
  const back = document.querySelector(".back-button");

    list.addEventListener("click", (event) => {
        opacity.style.opacity = 0.1;
        opacity.style.transition = "all 1s";
        instructions.style.left = "144px";
    });

    back.addEventListener("click", (event) => {
      instructions.style.left = "-1000px";
      opacity.style.opacity = 1;
    });

    ///////////////////////////////////

    const participantsList = document.getElementById('participants-list');
    const collaboratorsList = document.getElementById('collaborators-list');
    const displayParticipantsList = document.querySelector(".hidden-container");
    const currentStep = document.getElementById('current_step');
    const currentSolutions = document.getElementById('current_solutions')
    App.cable.subscriptions.create(
      {
        <% if @issue.user == current_user %>
          channel: 'IssuesLeaderChannel',
        <% else %>
          channel: 'IssuesChannel',
        <% end %>
        issue_id: <%= @issue.id %>
      },
      {
        connected: () => {
          // var testSolutionContent = document.querySelector(".solution-content")
          // if (testSolutionContent != null ) {
          //   var solutions = document.querySelector(".hidden-container")
          //   solutions.classList.remove("hidden-container")
          // };
          // scrollLastMessageIntoView();

        },
        received: (data) => {

          switch (data.action) {
            case 'subscribed':
              console.log("User " + data.current_user_id + " subscribed");
              if (checkUserConnection(data.current_user_id) == true){
                participantsList.firstElementChild.insertAdjacentHTML("beforeend", data.user_partial)
                if (collaboratorsList != null) {
                collaboratorsList.firstElementChild.insertAdjacentHTML("beforeend", data.user_partial)
                };
              };
              break;
            case 'new_solution':
              displayParticipantsList.style.display = "inline-block";
              currentStep.innerHTML = data.new_solution_partial;
              console.log(data);
              break;
            case 'solutions':
              solutionsContainer = document.querySelector('.container-overflow');
              solutionsContainer.insertAdjacentHTML('beforeend', data.solution_partial);
            break;
            case 'create_solution':
              addTextToUserIcon(data.current_user_id, data.solution_hint)
              if (data.current_user_id == <%= @issue.user.id %>) {
                if (document.getElementById('new_solution_leader')){
                document.getElementById('new_solution_leader').innerHTML = data.button_next_partial;
                };
              };
              break;
            case 'new_votes':
              currentStep.innerHTML = data.new_votes_partial;
              console.log(data);
            break;
            case 'create_votes':
              addTextToUserIcon(data.current_user_id, data.solution_hint)
              if (data.current_user_id == <%= @issue.user.id %>) {
                document.getElementById('vote_form_leader').innerHTML= data.button_next_partial;
              };
              break;
            case 'display_results':
              console.log(data);
              currentStep.innerHTML = data.results_partial;
              break;
            case 'final_result':
              currentStep.innerHTML = data.final_result_partial;
              break;
            default:
              console.log('No action ' + data.action + '.');
          }

          function checkUserConnection(user_id) {
            const current_user_partial = participantsList.firstElementChild.querySelector('#user' + user_id);
              return current_user_partial == null;
          }

          function addTextToUserIcon(user_id, text) {
            if (checkUserConnection(user_id) != true){
              const current_user_partial = participantsList.firstElementChild.querySelector('#user' + user_id);
                textSpan = current_user_partial.querySelector(".connected-text");
                textSpan.innerText = text;
            };
          }

          // //       // si ce n'est pas le cas -> on en ajoute
          //       if (current_user_partial == null) {
          //           count_users += 1;
          //           current_partial_users.lastElementChild.insertAdjacentHTML('beforeend', data.user_partial);
          //       };
          // const current_user_id = <%= current_user.id %>;
          // const current_broadcaster_id = data.current_user_id;
          // const partial_solution = data.solution_partial;
          // const current_partial_users = document.getElementById('participants_list');
          // var solutions = document.getElementById("chat-container");

          // // Gestion d'affichage de la start page pour les participants
          // if (data.user_partial != null && current_partial_users != null){
          //   // Afficher une icone si c'est le 1er utilisateur
          //   if (current_partial_users.firstElementChild.childElementCount == 0) {
          //     count_users += 1;
          //     current_partial_users.lastElementChild.insertAdjacentHTML('beforeend', data.user_partial);

          //   } else {
          //     // Vérifier si il y a déjà une icone pour cet utilisateur
          //   };
          // };
          // // Gestion d'affichage de la start page pour les participants
          // const waiting_banner = document.getElementById("waiting-p-participant");
          // // Tester si la div "waiting-p-part" est affiché et si le meeting a commencé
          // if (waiting_banner != null && data.message == 'starting_meeting') {
          //     // Participant : Cacher la banière de départ
          //     waiting_banner.classList.add("hidden-container");
          //     user.solution_round = 1;
          // };

          // if (solutions.children.length != 0 || data.solution_partial != null){
          //   solutions.parentElement.parentElement.classList.remove("hidden-container")
          //   // Pour afficher sa propre réponse d'une couleur différente
          //     var class_message = 'message'
          //     if (current_user_id == current_broadcaster_id) {
          //       class_message = 'message right'
          //     };
          // };
          // if (data.vote_partial != null){
          //   let solution = document.getElementById(data.solution)
          //   count_votes += 1
          //   if (count_votes == count_users) {
          //     solution.innerHTML = data.vote_partial;
          //   };
          //   if (data.solution_partial != null){
          //     var solutionsContainer = document.querySelector('.container-overflow');
          //     solutionsContainer.insertAdjacentHTML('beforeend', data.solution_partial.replace('message',class_message));
          //   };
          // };
          // var input = document.querySelector('#solution_content');
          // input.value = '';
          // input.blur();
          // scrollLastMessageIntoView();

          // console.log(user);
        }
      }
    )
  </script>
<% end %>
