<%= render 'shared/navbar-logo' %>
<%= render 'shared/flashes' %>

<div class="container">
  <div class="row">
    <div data-aos="zoom-in" class="col-xs-12 offset-md-3 col-md-6 transparent-container container-margin-edit ">
      <h2 class="text-center">Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.label :email, class: "label-style-devise"  %>
          <%= f.input_field :email, class: "form-control devise-style",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "form-control button-style-log border-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

