<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="home-list">
  <ul id="list">
    <li><div class="list-hover">About</div></li>
    <li><div class="list-hover">Concept</div></li>
    <li><div class="list-hover">Contact</div></li>
  </ul>
</div>

<div class="container">
  <div class="about-content">
    <p class= "text-center">Nous connaissons tous ces phrases-massues qui étouffent dans l’œuf toute nouvelle idée :
      «<em> C’est beaucoup trop cher </em>», «<em> Ce n’est pas réalisable </em>» ou encore «<em> Nous n’avons encore jamais agi de la sorte </em>». Comment abandonner ces états d’esprit, éviter les phrases qui tuent et<strong style= "font-size: 16px"> évaluer les idées avec neutralité </strong>?
    </p>
    <i class="far fa-arrow-alt-circle-right"></i>
    <button type="button" class="btn btn-link text-white"><span class="back-button"><</span></button>
  </div>

  <div class="concept-content">
    <p>ABOUT CONCEPT</p>
    <button type="button" class="btn btn-link text-white"><span class="back-button"><</span></button>
  </div>

  <div class="contact-content">
    <p>CONTACT</p>
    <button type="button" class="btn btn-link text-white"><span class="back-button"><</span></button>
  </div>

 <h1 class="title-dissensium text-center ">Dissensium</h1>

 <div class="d-flex justify-content-around">
   <%= link_to "Create a meeting", new_issue_path, class: "dissensium-home-link" %>
   <%= link_to "Join a meeting", root_path, class: "dissensium-home-link" %>
 </div>
</div>

<div class="meeting-list">
  <ul id="meetings">
   <li><div class="meeting-hover"><%= link_to "Create a meeting", new_issue_path, class: "dissensium-meeting-link" %></div></li>
   <li><div class="meeting-hover"><%= link_to "Join a meeting", root_path, class: "dissensium-meeting-link" %></div></li>
  </ul>
</div>

<script>
  const list = document.querySelectorAll("#list .list-hover");
  const title = document.querySelector(".title-dissensium");
  const links = document.querySelectorAll(".d-flex .dissensium-home-link");
  const meetingLinks = document.querySelectorAll("#meetings .meeting-hover");
  const about = document.querySelector(".about-content");
  const concept = document.querySelector(".concept-content");
  const contact = document.querySelector(".contact-content");
  const back = document.querySelectorAll(".back-button");


  list.forEach((li) => {
    li.addEventListener("click", (event) => {
      if (event.currentTarget === list[0]) {
        title.style.opacity = 0;
        title.style.transition = "all 1s";
        links.forEach((link) => {
          link.style.opacity = 0;
          link.style.transition = "all 1s";
        });
        about.style.left = "120px";
        concept.style.left = "-1000px";
        contact.style.left = "-1000px";

        meetingLinks.forEach((mL) => {
          mL.style.opacity = 1;
          mL.style.visibility = "visible";
          mL.style.transition = "all 10s";
        });
      }
      else if (event.currentTarget === list[1]) {
        title.style.opacity = 0;
        title.style.transition = "all 1s";
        links.forEach((link) => {
          link.style.opacity = 0;
          link.style.transition = "all 1s";
        });
        concept.style.left = "120px";
        about.style.left = "-1000px";
        contact.style.left = "-1000px";

        meetingLinks.forEach((mL) => {
          mL.style.opacity = 1;
          mL.style.visibility = "visible";
          mL.style.transition = "all 10s";
        });
      }
      else {
        title.style.opacity = 0;
        title.style.transition = "all 1s";
        links.forEach((link) => {
          link.style.opacity = 0;
          link.style.transition = "all 1s";
        });
        contact.style.left = "120px";
        about.style.left = "-1000px";
        concept.style.left = "-1000px";

        meetingLinks.forEach((mL) => {
          mL.style.opacity = 1;
          mL.style.visibility = "visible";
          mL.style.transition = "all 10s";
        });
      }
    });
  });

  back.forEach((ba) => {
    ba.addEventListener("click", (event) => {
      about.style.left = "-1000px";
      concept.style.left = "-1000px";
      contact.style.left = "-1000px";
      title.style.opacity = 1;
        links.forEach((link) => {
          link.style.opacity = 1;
        });
      meetingLinks.forEach((mL) => {
          mL.style.opacity = 0;
          mL.style.visibility = "";
          mL.style.transition = "all 2s";
        });
    });
  });
</script>
