<%= simple_form_for :votes, url: issue_votes_path(issue), remote: true do |f| %>
  <div class="container-overflow">
    <% solutions.each do |solution| %>
      <h3><%= solution.content %></h3>
        <%= f.simple_fields_for "solution_#{solution.id}", Vote.new do |v| %>
        <%= v.input :solution_id, input_html: { value: solution.id }, as: :hidden %>
        <%= v.collection_radio_buttons :rating, [[5, "5"], [4, "4"], [3, "3"], [2, "2"], [1, "1"]], :first, :last %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit %>

  <%= link_to "Next Step", results_issue_path(issue), issue: issue, remote: true %>

<% end %>
