<% if local_assigns[:leader] %>
    <div class="row">
      <div class="col-xs-12 offset-md-1 col-md-10 transparent-container solution-container mb-5">
        <h6 class="meeting-title text-white"><strong>The question is <br></strong>"<%= issue.title %>"</h6>
        <div class="border-bottom mt-5"></div>
        <div id="chat-container" class="container-overflow">
          <% issue.solutions.each do |solution| %>
            <%= render "solutions/solution", solution: solution %>
          <% end %>
        </div>
        <%= simple_form_for [issue, solution], remote: true do |f| %>
          <%= f.label :My_solution, class: "label-style-devise mt-3" %>
          <%= f.input_field :content, class: "form-control devise-style" %>
          <%= f.button :submit, 'Send my solution', class: "form-control btn-send" %>
          <%= link_to "Next Step", new_issue_vote_path(issue), remote: true, class: "badge badge-pill badge-info ml-2 py-2 px-3 btn-step" %>
        <% end %>
      </div>
    </div>
<% end %>

<% if !local_assigns[:leader] %>
  <% if issue.solutions != [] %>
    <div class="row">
      <div class="col-xs-12 offset-md-1 col-md-10 transparent-container solution-container mb-5">
        <h6 class="meeting-title text-white"><strong>The question is <br></strong>"<%= issue.title %>"</h6>
        <div class="border-bottom mt-5"></div>
        <div id="chat-container" class="container-overflow">
          <% issue.solutions.each do |solution| %>
            <%= render "solutions/solution", solution: solution %>
          <% end %>
        </div>
      </div>
    </div>
   <% end %>

  <div data-aos="zoom-in" id="solution_form" class="col-xs-12 offset-md-1 col-md-10 transparent-solutionn-container solution-container">
    <h6 class="text-white text-center">"<%= issue.title %>"</h6>
    <%= simple_form_for [issue, solution], remote: true do |f| %>
      <%= f.label :My_solution, class: "label-style-devise mt-3" %>
      <%= f.input_field :content, class: "form-control devise-style" %>
      <%= f.button :submit, 'Send my solution', class: "form-control btn-send" %>
    <% end %>
  </div>
<% end %>
