<% if local_assigns[:leader] %>
    <div class="row">
      <div class="col-xs-12 offset-md-1 col-md-10 transparent-container solution-container mb-5">
        <h6 class="meeting-title text-white"><strong>L'objet du meeting est <br><br></strong>"<%= issue.title %>"</h6>
        <div class="border-bottom mt-5"></div>
        <div id="chat-container" class="container-overflow">
          <% issue.solutions.each do |solution| %>
            <%= render "solutions/solution", solution: solution %>
          <% end %>
        </div>
        <div id="new_solution_leader">
          <%= simple_form_for [issue, solution], remote: true do |f| %>
            <%= f.label :Ma_solution, class: "label-style-devise mt-3" %>
            <%= f.input_field :content, class: "form-control devise-style" %>
            <%= f.button :submit, 'Envoyer ma solution', class: "form-control btn-send" %>
            <%= link_to "Passer à l'étape suivante", new_issue_vote_path(issue), remote: true, class: "badge badge-pill badge-info ml-2 py-2 px-3 btn-step" %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% if !local_assigns[:leader] %>
  <% if issue.solutions != [] %>
    <div id="solution_form">
      <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 transparent-container solution-container mb-5" >
          <h6 class="meeting-title text-white"><strong>L'objet du meeting est <br><br></strong>"<%= issue.title %>"</h6>
          <div class="border-bottom mt-5"></div>
          <div id="chat-container" class="container-overflow">
            <% issue.solutions.each do |solution| %>
              <%= render "solutions/solution", solution: solution %>
            <% end %>
          </div>
            <%= simple_form_for [issue, solution], remote: true do |f| %>
              <%= f.label :Ma_solution, class: "label-style-devise mt-3" %>
              <%= f.input_field :content, class: "form-control devise-style" %>
              <%= f.button :submit, 'Envoyer ma solution', class: "form-control btn-send" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div id="solution_form">
      <div class="row">
        <div class="col-xs-12 offset-md-1 col-md-10 transparent-solutionn-container solution-container">
          <h6 class="text-white text-center"><strong>L'objet du meeting est </strong><br><br>"<%= issue.title %>"</h6>
          <%= simple_form_for [issue, solution], remote: true do |f| %>
            <%= f.label :Ma_solution, class: "label-style-devise mt-3" %>
            <%= f.input_field :content, class: "form-control devise-style" %>
            <%= f.button :submit, 'Envoyer ma solution', class: "form-control btn-send" %>
          <% end %>
        </div>
      </div>
    </div>
   <% end %>
<% end %>
